@import "../../styles/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__spinner {
  margin-top: 30px;
}

.container__message {
  margin-top: 30px;
  color: $primaryLight;
}