.container {
  margin-top: 16px;
  display: flex;
  position: relative;
  align-items: center;
}

.container__input {
  flex-grow: 1;
}

.container__status {
  position: absolute;
  right: 8px;
  font-size: 12px;
  cursor: help;
}